[D-BUS Service]
Name=org.a11y.Bus
Exec=/data/workspace/vcpkg/vcpkg/packages/at-spi2-core_arm64-linux/libexec/at-spi-bus-launcher
SystemdService=at-spi-dbus-bus.service
