[D-BUS Service]
Name=org.a11y.atspi.Registry
Exec=/data/workspace/vcpkg/vcpkg/packages/at-spi2-core_arm64-linux/libexec/at-spi2-registryd --use-gnome-session
